 .map-container{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
 }

.map-controller{
  position: absolute;
  top: 1rem;
  left: 3rem;
  width: 10vh;
  height: 5vh;
  background-color: #ffffff00;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map-controller .map-controller-item{
  flex: 1;
  padding: 0.5rem ;
}

