$primary-color: #3498db;  // Example: Blue
$secondary-color: #e74c3c; // Example: Red
$text-color: #2c3e50;    // Example: Dark gray
$border-color: #bdc3c7;
$header-color: #f2d158;
$close-button-color: #7f8c8d;
$close-button-hover-color: #34495e;
$active-background-color: #e0f7fa;
$label-text-color: #333;
$active-map-controller-color: #00eaff;
$layer-control-text-color: #275a4d;
$layer-control-inactive-color: #0c7437
